 @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
}
.row{
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase; 
    flex-wrap: wrap;
}
.card{
    border-radius: 2rem;
    box-shadow: 7px 7px 14px 0px rgba(50, 50, 50, 0.23);
    padding: 4rem;
    margin: 1em;
    width: 80px;
    height: 150px;
    transition: 1s ease-in-out;
    position: relative;
}
.card:hover{
    transform: translateY(-180deg);
    transition-delay: 1s ease-in-out;
    overflow: hidden;
    opacity: 0;
   
}
.back:hover{
    transform: translate(-180deg);
    transition-delay: 1s ease-in-out;
    overflow: hidden;
    opacity: 0;
}

/* edição de texto */
.card p{
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Cinzel' bold;
    line-height: 10.6;
}
.gradient{
    background-image: linear-gradient(
        to bottom, rebeccapurple ,#3bd9d9
        );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.cor{
    color: #A0522D;
}

.back h2{
    font-size: 16px;
    right: 20px;
    font-weight: bold;
    line-height: 1.2;
    position: absolute;
    opacity: 0;
    background-image: linear-gradient(
        270deg,rebeccapurple ,#3bd9d9
        );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*  */
.back{
    border-radius: 2rem;
    box-shadow: 7px 7px 14px 0px rgba(50, 50, 50, 0.23);
    height: 150px;
    width: 83px;
    margin: 2rem;
    padding: 4rem;
    position: absolute;
    z-index: -1;
    display: flex;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: 1s ease-in-out;
}
/* deixar card de fundo invisivel */
.card:hover + .back{
    opacity: 1;
    transition: 3s ease-in-out;
}
.card:hover + .warwick{
    opacity: 1;
    transition: 3s ease-in-out;
}
.card:hover+ .Zed{
    opacity: 1;
    transition: 3s ease-in-out;
}
.card:hover + .Vi{
    opacity: 1;
    transition: 3s ease-in-out;
}

/* deixar texto com transição */
.card:hover + .back h2{
    opacity: 1;
    transition: 4s ease-in-out;
}
.card:hover + .Vi h2{
    opacity: 1;
    transition: 4s ease-in-out;
}
.card:hover + .warwick h2{
    opacity: 1;
    transition: 4s ease-in-out;
}
.card:hover + .Zed h2{
    opacity: 1;
    transition: 4s ease-in-out;
}

.warwick{
    border-radius: 2rem;
    height: 150px;
    width: 83px;
    margin: 2rem;
    padding: 4rem;
    position: absolute;
    left: 240px;
    z-index: -1;
    display: flex;
    text-align: center;
    opacity: 0;
    transition: 1s ease-in-out;
    
}
.Zed{
    border-radius: 2rem;
    height: 150px;
    width: 83px;
    margin: 2rem;
    padding: 4rem;
    position: absolute;
    left: 480px;
    z-index: -1;
    display: flex;
    text-align: center;
    opacity: 0;
    transition: 1s ease-in-out;

}
.Vi{
    border-radius: 2rem;
    height: 150px;
    width: 83px;
    margin: 2rem;
    padding: 4rem;
    position: absolute;
    left: 720px;
    z-index: -1;
    display: flex;
    text-align: center;
    transition: 1s ease-in-out;
    opacity: 0;
}
.Vi h2{
    font-size: 14px;
    right: 20px;
    top: 10px;
    font-weight: bold;
    line-height: 1.2;
    position: absolute;
    opacity: 0;
}

.desc{
    border-image: linear-gradient(to bottom, transparent
    ,#000, transparent) 3;
    border-right: transparent;
    box-shadow: 6px 6px 12px 0px rgb(0, 0, 0);
}
.warwick h2{
    font-size: 14px;
    right: 20px;
    top: 10px;
    font-weight: bold;
    line-height: 1.2;
    position: absolute;
    opacity: 0;
    background-image: linear-gradient( 270deg,#00dd00 ,#006900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Zed h2{
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    opacity: 0;
    background-image: linear-gradient( 270deg,#2da8a8 ,#4169e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.end{
    border-image: linear-gradient(to bottom, transparent
    ,#000, transparent) 3;
    border-right: transparent;
    box-shadow: 6px 6px 12px 0px rgb(0, 0, 0);

}

.container{
    border-image: linear-gradient(to bottom, transparent
    ,#000, transparent) 3;
    border-right: transparent;
    box-shadow: 6px 6px 12px 0px rgb(0, 0, 0);
    background-image: url(jinx.png);
}
.second{
    border-image: linear-gradient(to bottom left,
    transparent,rgb(0, 0, 0),
    transparent)3;
    border-right: transparent ;
    box-shadow:  6px 6px 12px 0px rgb(0, 0, 0);
    background-image: url(warwick.png);
}
.third{
    border-image: linear-gradient(to bottom left,
    transparent,rgb(0, 0, 0),
    transparent)3;
    border-right: transparent ;
    box-shadow:  6px 6px 12px 0px rgb(0, 0, 0);
    background-image: url(zed.png);
}
.fourth{
    border-image: linear-gradient(to bottom left,
    transparent,rgb(0, 0, 0),
    transparent)3;
    border-right: transparent ;
    box-shadow:  6px 6px 12px 0px rgb(0, 0, 0);
    background-image: url(viLol.png);
}
.descrição{
border-image: linear-gradient(to bottom, transparent
    ,#000, transparent) 3;
    border-right: transparent;
    box-shadow: 6px 6px 12px 0px rgb(0, 0, 0);

}
